---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 80

# Braces and blocks
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
IndentCaseLabels: true
IndentGotoLabels: true

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
AlignTrailingComments: true
DerivePointerAlignment: false
PointerAlignment: Left

# Packing and wrapping
BinPackArguments: true
BinPackParameters: true
ContinuationIndentWidth: 4

# Spacing
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements

# Includes
IncludeBlocks: Regroup
IncludeCategories:
  # Zephyr / system headers
  - Regex: '^<'
    Priority: 1
  # Project headers
  - Regex: '^"'
    Priority: 2
SortIncludes: true

# Misc
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
