source "Kconfig.zephyr"

config TS_NETWORK_KEY
	string "Network authentication key (128-bit hex string)"
	default "681312c55b1aadb66c15df53950b3145"

config TS_KEY_ID
	int "Active network key identifier"
	default 0
	range 0 255
